# Android
.idea
gen
gradle
*gradle*
local.properties
proguard-rules.pro
build

# JavaPerf
.idea
target
*.iml
.externalNativeBuild

# Python
.idea
venv
__pycache__

# M2M
.travis.yml
cmake-build-debug
cmake
lib
.pioenvs
CMakeListsPrivate.txt

