# Android
.idea
gen
.gradle
#gradle
#*gradle*
local.properties
proguard-rules.pro
build

# Java
.idea
target
*.iml
.externalNativeBuild
out
*.dat

# Python
.idea
venv
__pycache__

# Arduino
.travis.yml
cmake-build-debug
cmake
lib
.pioenvs
CMakeListsPrivate.txt

